<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
</head>
<body>
    <div class="backtotop">
    <p>Back To Top</p>
 </div>  
 <footer>
    
 <div class="panel2">
    
<ul>
    <p>Get to Know Us About Amazon</p>
    <a>Careers</a>
    <a>Press Releases</a>
    <a>Amazon Science</a>
</ul>
<ul>
    <p>Connect with Us</p>
    <a>Instagram</a>
    <a>Twitter</a>
    <a>Facebook</a>
</ul>
<ul>
    <p>Make Money with Us</p>
    <a>Fulfilment by Amazon</a>
    <a>Advertise Your Products</a>
    <a>Amazon Pay on Merchants</a>
    <a>Become an Affiliate</a>
    <a>Sell under Amazon Accelerator</a>
    <a>Sell on Amazon</a>
</ul>
<ul>
    <p>Let Us Help You</p>
    <a>Amazon App Download</a>
    <a>100% Purchase Protection</a>
    <a>Your Account</a>
    <a>Help</a>
</ul>

 </div>
 
 <div class="panel3">
    <div class="panelimage"></div>
    <div class="panelbox1">
        <i class="fa-solid fa-globe"></i>
       <p>English</p> </div>
    <div class="panelbox2">
        <i class="fa-solid fa-flag"></i>
        <p>India</p></div>
 </div>
</body>
</html>